h1 {
    text-align: center;
}

nav {
    text-align: right;
    font-size: 1.25em;
    padding-right: 15px;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
    max-width: 1280px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-width: 80%;
    overflow: auto;
}

nav a {
    text-decoration: none;
    color: black;
}

header {
    border-bottom: 1px;
    border-bottom-width: 80%;
    border-bottom-style: solid;
}

aside {
    width: 20%;
    padding: 0px;
    float: left;
    height: 100%;
    padding-left: 0.5em;
    box-sizing: border-box;
    padding-bottom: 0.5em;
}

#work {
    height: 100%;
    margin-top: 0px;
    padding: 0px;
    float: left;
    border-right: 1px;
    border-right-style: solid;
    width: 50%;
    padding-left: 0.5em;
    box-sizing: border-box;
    border-left: 1px;
    border-left-style: solid;
    padding-bottom: 0.5em;
}

main {
    height: 100%;
}

#edu {
    height: 100%;
    margin-top: 0px;
    padding: 0px;
    float: left;
    width: 30%;
    padding-left: 0.5em;
    box-sizing: border-box;
    padding-bottom: 0.5em;
}
@media only screen and (max-width: 600px) {
aside{
    width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
}
#work {
    border-left-style: hidden;
    width: 100%;
    border-bottom: 1px;
    border-bottom-style: solid;
}
#edu {
    width: 100%;
}
}