h1 {
    text-align: center;
}

nav {
    text-align: right;
    font-size: 1.25em;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 1280px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-width: 80%;
}

nav a {
    text-decoration: none;
    color: black;
}

header {
    border-bottom: 1px;
    border-bottom-width: 80%;
    border-bottom-style: solid;
}

aside {
    width: 20%;
    padding: 0.5em;
    float: left;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    overflow-wrap: break-word;
}

#work {
    height: 100%;
    margin-top: 0px;
    padding: 0.5em;
    float: left;
    border-right: 1px;
    border-right-style: solid;
    width: 50%;
    box-sizing: border-box;
    border-left: 1px;
    border-left-style: solid;
    overflow: auto;
    overflow-wrap: break-word;
}

main {
    height: 350px;
    border-bottom: 1px;
    border-bottom-style: solid;
}

#edu {
    margin-top: 0px;
    padding: 0.5em;
    float: left;
    width: 30%;
    box-sizing: border-box;
    max-height: 350px;
    overflow: auto;
    overflow-wrap: break-word;
}

#flex-container {
    display: flex;
}

#flex-container>div {
    margin: 10px;
    padding: 15px;
    font-size: 22px;
    align-self: center;
}

#flex-container>div>p {
    border: 1px;
    border-style: solid;
    padding: 5px;
    text-align: center;
    border-radius: 16px;
}

@media only screen and (max-width: 600px) {
    aside {
        width: 100%;
        border-bottom: 1px;
        border-bottom-style: solid;
    }

    #work {
        border-left-style: hidden;
        border-right-style: hidden;
        width: 100%;
        border-bottom: 1px;
        border-bottom-style: solid;
    }

    #edu {
        width: 100%;
        border-bottom: 1px;
        border-bottom-style: solid;
    }

    #wrapper {
        width: 100%;
    }

    main {
        height: 100%;
    }

    #edu h3 {
        margin-top: 0px;
    }

    #flex-container {
        display: flow
    }

    main {
        border-style: hidden;
    }
}